
{% load wagtailcore_tags %}
<div class="felx items-center">
<section _="init remove <button/> in me" class="p-5 sm:p-0">
    <pre class="max-w-sm sm:max-w-none">
        <code id="output"  class="language-{{ self.language }}">
            
            {{ self.text }}
            
        </code></pre>
</section>
<button _="on click
get the innerText of #output
then writeText(the result) with the navigator's clipboard
wait 0.5s 
put 'Copied to clipboard!' into me wait 5s then put 'copy again' into me"
              class="bg-white hover:bg-gray-100 text-gray-800 font-semibold text-xs py-1 px-2 border border-gray-400 rounded shadow">Copy {{ self.language }} code
</button>
<div id=""></div>
<div/>