{% load wagtailimages_tags %}
<div  class="flex-col justify-center items-center">
{% with small_image_block=self.small_image %}
    {% if small_image_block %}
        {% image self.small_image width-100 as photo %}
        <img class="h-auto max-w-full rounded-lg"
             src="{{ photo.url }}"
             alt="image description">
        <figcaption class=" text-sm text-center text-gray-500 dark:text-gray-400">{{ self.text }}</figcaption>
    {% endif %}
    {% with medium_image_block=self.medium_image %}
        {% if medium_image_block %}
            {% image self.medium_image width-800 as photo %}
            <img class="rounded-lg "
                 src="{{ photo.url }}"
                 alt="image description">
            <figcaption class="text-sm text-left text-gray-500 dark:text-gray-400">{{ self.text }}</figcaption>
        {% endif %}
    {% endwith %}
    {% with large_image_block=self.large_image %}
        {% if large_image_block %}
            {% image self.large_image width-1200 as photo %}
            <div _="on intersection(intersecting) having threshold 0.5
            if intersecting add .-translate-y-10 .duration-1000 to <img/> in me"  class="">
            <div class="text-sm pb-3 font-semibold italic ">{{ self.text }}</div>   
           <img  class="rounded-lg border-cyan-900 object-cover w-full h-full align-bottom"
                 src="{{ photo.url }}"
                 alt="image description">
                 </div>
          
                 
                 
            
        </div>
          
        {% endif %}
    {% endwith %}
{% endwith %}
</div>
