{% extends "base.html" %} 
{% load wagtailcore_tags %} 
{% load wagtailcore_tags snippet_tags %} 
{% load wagtailimages_tags %} 
{% load wagtailimages_tags wagtailcore_tags %} 
{% load wagtailroutablepage_tags %}
{% block body_class %}template-homepage{% endblock %} 

{% block content %}


<!-- 
Install the "flowbite-typography" NPM package to apply styles and format the article content: 

URL: https://flowbite.com/docs/components/typography/ 
-->

<!--Wrapper for detail page-->

<div class="sm:container mx-auto md:px-64" hx-boost="true" >
  

  <div class="flex justify-between">
    
      {% if page.next_post %}
      <a href="{{ page.next_post.url }}"> 
      <button type="button"  class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 
      focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 
      text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600
       dark:focus:ring-green-600">Next</button></a>
       
      {% endif %}



    
      <a href="{{ page.previous_post.url }}">
      <button type="button"  class="text-green-700 hover:text-white border border-green-700 hover:bg-green-800 
      focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 
      text-center mr-2 mb-2 dark:border-green-500 dark:text-green-500 dark:hover:text-white dark:hover:bg-green-600
       dark:focus:ring-green-600">Previous</button></a>
     
     
  </div>
  
  {% for block in page.content %} {% if block.block_type == 'title_and_text' %}
  <div class="m-10">
  <div class=" md:pl-48 md:pr-48">
    <h6 class="text-4xl text-slate-600 text-center font-extrabold">
      {{ block.value.title }}
    </h6>
    <hr />

    <p class="text-lg text-emerald-600 italic text-center pt-5 font-thin">
      {{ block.value.text}}
    </p>
  </div>
  {% endif %}
  {% endfor %}
</div>
  

    <!--Main blog image-->

<hr>
  <!--Wrapper for content-->
  <div class="flex justify-center">

    <!--Author-->
    <div class="flex flex-col items-center p-10">
      <div class="inline-flex space-x-2"> 
        <svg class="inline-block align-centre w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.109 17H1v-2a4 4 0 0 1 4-4h.87M10 4.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm7.95 2.55a2 2 0 0 1 0 2.829l-6.364 6.364-3.536.707.707-3.536 6.364-6.364a2 2 0 0 1 2.829 0Z"/>
        </svg>
        {% for author in self.blog_authors.all %} {% if author.author.image %}
        {% image author.author.image width-100 as photo %}
        <div class="">
          <img
            class="w-5 h-5 rounded-full hover:opacity-50"
            src="{{ photo.url }}"
            alt=""
          />
        </div>
        <div class="flex flex-col">
          <div>
            <div class="flex flex-shrink">
              <div>
            <span class="text-base text-slate-700 font-Cursive dark:text-white"
              >{{author.author.name }}</span>
              <svg class="inline-flex sm:inline-block align-centre w-3 h-3 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4"/>
              </svg>
            </div>
            <div>
            {% if author.author.bio %}
            <span class="text-xs sm:text-xs font-Poppins text-black dark:text-gray-400"
              >{{author.author.bio }}</span>
            {% endif %}
          </div>
          
            <div class="inline-flex">
              {% for socials in author.author.author_socials.all %}
              
               {% if socials.network == "Github" %}
              <a href="{{ x.url }}">
            <svg class="w-5 h-5 sm:w-6 sm:h-6 text-green-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd"/>
            </svg></a>
               {% endif %}

               {% if socials.network == "Facebook" %}
               <a href="{{ x.url }}">
            <svg class="w-5 h-5 sm:w-6 sm:h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 8 19">
              <path fill-rule="evenodd" d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z" clip-rule="evenodd"/>
            </svg></a>
              {% endif %}

              {% if socials.network == "Twitter" %}
              <a href="{{ x.url }}">
            <svg class="w-5 h-5 sm:w-6 sm:h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 17">
              <path fill-rule="evenodd" d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z" clip-rule="evenodd"/>
            </svg></a>
              {% endif %}

            {% endfor %}
          </div>
          </div>
          </div>
          <hr class="p-1">
        </div>
{% endif %}

</div>
<div class="inline-flex space-x-1">
  <div class="font-extralight text-xs">Posted on</div>
  <div class="text-xs">{{ self.last_published_at|date:"F d, Y" }}</div>

</div>
      
      <div>
        <span class="mr-2 text-xs text-black">Posted in:</span>
        {% with categories=page.categories.all %} {% if categories %} 
        {% for category in categories %}

        <span
          class="bg-green-100 text-green-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300"
          >{{category.name }}
        </span>
        |
        {% endfor %} 
        {% endif %} 
        {% endwith %}
        
      </div>
      
      <!--Tags-->
      <div class="inline-flex space-x-3" hx-boost="true">
        <div class="flex flex-wrap">
          {% if page.tags.count %}
          
          <div>
            <h6 class="text-xs pt-2 pr-2">Tags (click to see more posts)</h6>
           
          </div>
          <svg  class=" block w-3 h-3  text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1.248 15C.22 11.77 2.275 4.232 9.466 4.232V2.079a1.025 1.025 0 0 1 1.644-.862l5.479 4.307a1.108 1.108 0 0 1 0 1.723l-5.48 4.307a1.026 1.026 0 0 1-1.643-.861V8.539C2.275 9.616 1.248 15 1.248 15Z"/>
          </svg>
          {% for tag in page.tags.all %} 

          <a 
              hx-boost="true" href="{% routablepageurl page.get_parent.specific 'post_by_tag' tag %}"
              hx-target="#test" 
              hx-swap='innerHTML show:no-scroll' 
              hx-push-url="false"
            class="mb-2 bg-green-50 hover:bg-pink-50 text-green-600 text-xs 
            sm:text-sm font-medium mr-2 mt-2 px-2.5 py-0.5 rounded dark:bg-gray-700
             dark:text-blue-400 border border-pink-200 transition-transform transform hover:-rotate-3">
            {{ tag }}</a>
          <br/>

          {% endfor %} 
          
          {% endif %}
        </div>
        
      </div>
     
      <div id="test">
        
      </div>
     
      
  {% image self.blog_image width-1200 as banner %}
  <div class="flex justify-center drop-shadow-xl border-x-lime-300 pt-10">
    <img class="shadow-2xl rounded-lg" src="{{ banner.url }}" />
  </div>
      
      <!--Streamfeild content-->
      {% for block in page.content %} {% if block.block_type == 'title_and_text' %}

      <div class="pt-10 md:pl-48 md:pr-48">
        <h6 class="text-4xl text-slate-600 text-center font-extrabold">
          {{ block.value.title }}
        </h6>
        <hr />

        <p class="text-lg text-emerald-600 italic text-center pt-5 font-thin">
          {{ block.value.text}}
        </p>
      </div>

     

      {% else %}
      {% if block.block_type == 'embed' %}
      <div class="relative min-w-full" style="padding-top: 56.25%">
        <iframe class="absolute inset-0 w-full h-full p-10" src="{{ block.value.embed.url |embedurl}}" frameborder="0" …></iframe>
      </div>

       
   
      {% endif %}
      

      <section
        
        class="block-{{ block.block_type }}">
        <div class="prose max-w-full lg:prose-xl">
        {% include_block block %}
        
        </div>




      </section>
      {% endif %} 

      
      


      {% endfor %}
    </div>

    {% endfor %}
  </div>

  {% endblock %}
 
</div>


