{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailcore_tags snippet_tags %}
{% load wagtailimages_tags %}
{% load wagtailroutablepage_tags %}

{% block body_class %}template-homepage{% endblock %}
{% headers %}
{% block content %}








    
        
        
       
    












<section class="bg-slate-500 dark:bg-gray-900 my-0 overflow-x-auto">
    <!-- {% if tagged %}
    <h1 class="text-center text-sm ">All posts tagged {{ tagged }}</h1>
    {% endif %} -->
    <div class="flex justify-center gap-2 pt-10 flex-wrap">
        <div class="font-Raleway text-lg">categories</div>    
          <div>                                   
            <a href="{% pageurl self %}"><button class="btn btn-xs">All</button></a>
          </div>
          <div>
            {% for x in cats %}
              <a hx-target="#body" class="{% if x.name == category_select %} badge btn-accent cursor-pointer font-semibold  {% else %} badge badge-outline cursor-pointer font-semibold {% endif %}" 
              hx-get="{% pageurl page %}?category_arg={{ x.name }}" 
              hx-vals='{"category": "category"}'>{{ x.name }} </a>
            {% endfor %}
          </div>
      <!-- <div>
        {% if category_select %}
        <div class="text-xs">Filtering by:</div>
        <div>
        <button class="btn btn-xs btn-accent cursor-default" >{{ category_select }}</button>
        </div>
        {% endif %}
      </div> -->
    </div>
    
  
   <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    
    

    <div hx-indicator="#spinner" class="group grid gap-8 lg:grid-cols-2"> 
              
  
        
            
            {% include 'partials/blog_list_element.html' %}
           

    </div>  

    <div class="flex justify-center gap-4">
      
      <div id="spinnertest" class="htmx-indicator" >
        <div class="flex gap-2 p-6">
        <div>More Posts....</div>
        <svg class="w-6 h-6 animate-spin text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
          <g stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M19 11V9a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0 0-1.414 0l-.536.535L12 2.757V2a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0 0 0-1.414 0L2.929 4.343a1 1 0 0 0 0 1.414l.536.536L2.757 8H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535L8 17.243V18a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414 0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H18a1 1 0 0 0 1-1Z"/>
            <path d="M10 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
          </g>
        </svg>
        </div>
      </div>
    </div>
    
            
        
    </div>
   
  </section>

  






</div>

{%  endblock content %}