







@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .link {
    @apply hover:underline   
    hover:text-green-500  
    inline-block  
    hover:duration-300  
    cursor-pointer;
  }
}




.wagtail-richtext h2 {
  @apply font-Poppins
}

.wagtail-richtext h3 {
  @apply font-Poppins
}

.wagtail-richtext h4 {
  @apply font-Poppins
}

.wagtail-richtext p {
  @apply font-sans
  
}

.wagtail-richtext p {
  @apply text-base
  
}



.full-width {
	left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}



.fade-in-text {
    font-family: Arial;
    font-size: 60px;
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-moz-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @-ms-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }


 
.spinner{
    display: none;
}
.htmx-request .spinner{
    display: inline;
}
.htmx-request.spinner{
    display: inline;
}


