


<nav class="flex" aria-label="Breadcrumb">
    <ol class="hidden md:inline-flex items-center space-x-1 md:space-x-3">
      <li class="inline-flex items-center">

 

        {% for x in ancestors %}
        {% if forloop.last %}
        <h1 style="opacity:0;"_="on load transition my opacity to 1">{{ x.slug }}</h1>
        {% else %}
        <a class="text-red-800" href="{{x.url}}" hx-boost="true" _="on load transition opacity from 1 to 0.5 then settle on mouseover transition opacity from 0.5 to 1 then settle
        on mouseleave transition opacity from 1 to 0.5 then settle">{{ x.slug }}></a>
        {% endif %}
        
    
            

           
         
       
        {% endfor %}
      </li>
      </ol>
  </nav>