{% load wagtailimages_tags %}






<div id="Gallery-section"  class="container mx-auto overflow-hidden pt-10">

   
    

    <div class="flex flex-col ">
        {% for img in gallery %}
      
        <hr>
        <div class="mx-auto">
        <h1 id="text-tester" class="image-text -translate-x-10 text-2xl p-10 font-extrabold dark:text-white">{{ img.title }}<small class="translate-x-10 ml-2 font-Poppins text-xs text-gray-500 dark:text-gray-400">
           {{ img.caption }}</small></h1>
           
           
            
                {% image img.images width-1200 as gallery_photos %}
            <img id="image" _="on intersection(intersecting) having threshold 0.2 if intersecting remove .-translate-x-10 from the previous <h1.image-text/> then add .translate-x-10 .duration-1000 to the previous <h1.image-text/>
            then remove .translate-x-5 from me then add .-translate-x-5 .duration-1000"
             class="translate-x-5 max-max-lg rounded-lg shadow-md items-center" src="{{ gallery_photos.url }}" alt="">
             <ul id="exif-data"></ul>
            
        </div>
        
       
        {% endfor %}
    </div>


</div>
<script>
window.onload=getExif;
function getExif() {
    var img1 = document.getElementById("image");
    EXIF.getData(img1, function() {
        var make = EXIF.getTag(this, "Date");
        var model = EXIF.getTag(this, "Model");
        var makeAndModel = document.getElementById("exif-data");
        makeAndModel.innerHTML = `${make} ${model}`;
    });
}
</script>