{% load wagtailimages_tags %}
{% load wagtailcore_tags %}




   

   

   

    {% for post in posts %}


    
    {% if forloop.last %}
   
    
   {% if posts.has_next %}

  

   
    <div hx-get="{% slugurl 'blog-page' %}?page={{ posts.next_page_number }}" 
    hx-indicator="#spinner" 
    hx-vals='{"elements": "elements"}' 
    hx-trigger="revealed" 
    hx-swap="afterend" 
    hx-target="this">
    
   {% endif %} 


   
   
   
    {% else %}
    
   
    {% endif %}
    
   
    <article _="on intersection(intersecting) having threshold 0.3
    if intersecting transition opacity to 1
    else transition opacity to 0" id="testcat" class=" hover:border-green-600 p-6 bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">


        <div class="flex justify-between items-center mb-5 text-gray-500">
            
            <span class="bg-primary-100 text-primary-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                <svg class="mr-1 w-3 h-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 6a2 2 0 012-2h6a2 2 0 012 2v8a2 2 0 01-2 2H4a2 2 0 01-2-2V6zM14.553 7.106A1 1 0 0014 8v4a1 1 0 00.553.894l2 1A1 1 0 0018 13V7a1 1 0 00-1.447-.894l-2 1z"></path></svg>
                Tutorial
            </span>
            <span class="text-sm">14 days</span>
        </div>
        <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><a href="#">{{ post.title }}</a></h2>
        <p class="mb-5 font-light text-gray-500 dark:text-gray-400">Static websites are now used to bootstrap lots of websites and are becoming the basis for a variety of tools that even influence both web designers and developers influence both web designers and developers.</p>
        {% image post.specific.blog_image width-400 as blog_photo %}
        <img class="w-full h-  p-6 rounded-lg" src="{{ blog_photo.url }}">
        <div class="flex justify-between items-center">
            <div class="flex items-center space-x-4">
                {% for author in post.specific.blog_authors.all %}
                {% image author.author.image width-100 as photo %}
                <img class="w-7 h-7 rounded-full" src="{{ photo.url }}" alt="Jese Leos avatar" />
                <span class="font-thin dark:text-white">
                    By, {{ author.author.name }}
                </span>
                {% endfor %}
            
            </div>
            <a href="{{ post.url }}" class="inline-flex items-center font-medium text-primary-600 dark:text-primary-500 hover:underline">
                Read more
                <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </a>
        </div>
        
        
    </article> 
    
   

{% endfor %}





</div>