{% load wagtailcore_tags %}
<div class="flex">
<div id="tag-name"><h1 class="inline-block text-sm font-bold">Other posts tagged</h1> 
    <span class="bg-green-50 hover:bg-pink-50 text-green-600 
        text-xs sm:text-sm font-medium mr-2 mt-2 px-2.5 py-0.5 rounded dark:bg-gray-700
         dark:text-blue-400 border-pink-200 transition-transform transform hover:-rotate-3">{{tagged}}</span></div> 
{% for post in posts %}
<div class="flex-col post-titles ">
    <a hx-boost="true" href="{% pageurl post%}" class="font-medium text-xs text-black dark:text-blue-500 hover:underline">{{post.title}}</a>
</div>
{% endfor %}
</div>
<button _="on click hide me then 
hide #tag-name
then add .hidden to <div.post-titles/>" type="button" class="px-2 py-1 text-xs font-medium text-center text-white bg-green-400 rounded-lg hover:bg-green-900 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Close</button>



