{% load static wagtailcore_tags wagtailuserbar %}
{% load static tailwind_tags %}
{% load wagtailcore_tags snippet_tags %}   
{% load static %}
{% load wagtailimages_tags %}
{% load wagtailmetadata_tags %}




<!-- if window's scrollY > 400 add .-translate-y-6 .duration-300  to #header-fade 
    else remove .-translate-y-6 from #header-fade 
    end -->
<!DOCTYPE html>
<html lang="en" class="!scroll-smooth ">
    <head>
        {% tailwind_css %}
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.9"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>
        <script src="https://unpkg.com/htmx.org/dist/ext/preload.js"></script>
        
        <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
       
        <script src="https://unpkg.com/htmx.org/dist/ext/head-support.js"></script>
       <!-- Google adsense  -->
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3372696478873192"
     crossorigin="anonymous"></script>
     {% image settings.sitesettings.FaviconSetting.favicon width-100 as favicon %}
     <link rel="icon" type="image/png" href="{{ favicon.url }}"/>
      
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap" rel="stylesheet">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&family=Raleway:wght@800&family=Rubik+Scribble&display=swap" rel="stylesheet">
        
        <meta charset="utf-8" />

       
        {% block meta_tag %}
        <title>
            {% block title %}
            {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
            {% endblock %}
            
            {% block title_suffix %}
            {% wagtail_site as current_site %}
            {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
            {% endblock %}
            
            
        </title>
   
        
        
        {% meta_tags %}
        
        
        
       
        {% if page.search_description %}
        <meta name="description" content="{{ page.search_description }}" />
        {% endif %}
       
      
        {% endblock %}
       
        {{ head_tags|render_head_tags|safe }}
      
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}
        <base target="_blank">
        {% endif %}

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">
        <link rel="stylesheet" type="text/css" href="/static/css/dist/styles.css">
        <link rel="stylesheet" type="text/css" href="/static/css/mysite.css">
        <link rel="stylesheet" type="text/css" href="/static/css/prism.css">
       
       
        
        
       
       
      
        
        

        {% block extra_css %}
        <link href="{% static 'css/prism.css' %}" rel="stylesheet" />
       
        
        
        {% endblock %}
        
    </head>
    
    <body id="body" _="on load add @oncontextmenu='return false;' to <img/> then
    
    on scroll from the window
    if window's scrollY > 500 and window's innerWidth > 900
        remove .invisible from #header-button then add .inline-block to #header-button
            transition #header-button opacity to 1
        else if #header-button's *opacity is '1'
            transition #header-button opacity to 0 then
            remove .inline-block from #header-button then add .invisible to #header-button
        end 
   end" class="w-full h-auto overflow-visible relative events " hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'  
       hx-ext="head-support" hx-ext="preload" class="{% block body_class %}{% endblock %}">
       <div id="clickmessage" class="invisible absolute" style="top:; left:; ">clicked</div>
       {% if not request.COOKIES.visitor_id %}   
    <div id="loading" _="init add .blur-effect to #body then on click from .close-warning add .hidden to me"class="m-10 p-5 top-0 z-20 fixed flex flex-col border-solid border-2 bg-green-100
    shadow-lg rounded-md" >
        {{ settings.sitesettings.DataWarning.message }}
        <div _="on load add .pointer-events-none to .events then add .pointer-events-auto  to me " class="flex flex-row gap-4 ">
            <button id="details-button" active="true" _="on click 
             toggle between .hidden and .block on #privacy then 
             toggle [@active='true'] if @active put 'View' into my.textContent else put 'Hide' into my.textContent" 
            class="mt-2 px-3 py-2 text-xs font-medium text-center text-white
             bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none
              focus:ring-blue-300">View</button>
            <button _="on click remove .pointer-events-none .blur-effect from #body" 
            id="accept"
            hx-post="{% url 'wagtail_serve' '' %}" 
            
            class="close-warning px-3 py-2 text-xs font-medium text-center text-white
             bg-blue-700 rounded-lg hover:bg-blue-800 
             focus:ring-4 focus:outline-none focus:ring-blue-300 mt-2">Accept</button>

             <button _="on click remove .pointer-events-none .blur-effect from #body" 
             id="decline"
             hx-post="{% url 'wagtail_serve' '' %}"
             class="close-warning px-3 py-2 text-xs font-medium text-center text-white
             bg-blue-700 rounded-lg hover:bg-blue-800 
             focus:ring-4 focus:outline-none focus:ring-blue-300 mt-2">Decline</button>

            
        </div>
        <div _="init log document.cookie" id="privacy" class="hidden">{{ settings.sitesettings.DataWarning.policy|richtext }}</div>
    </div>
   {% endif %}
   
      
        {% wagtailuserbar %}
        
        {% block header %}
        
        {% include 'header_template.html' %}
        {% endblock %}
        
       
        {% block content %}
       
        
        
        {% endblock %}
        
       {% block footer %}{% include 'footer.html' %}{% endblock %}
        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>

        {% block extra_js %}
        <script src="{% static 'js/prism.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
        <script>
            import 'flowbite';
            htmx.onLoad(function(content) {
                initFlowbite();
            })
        </script>
        <script>
            document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
        </script>

        
            
        
        {% endblock %}
    
       <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' 
       data-cf-beacon='{"token": "9541ee4dba484b969514bc63f5d62ece"}'></script><!-- End Cloudflare Web Analytics --> 
 
    </body>
</div>
</html>
