{% load wagtailcore_tags snippet_tags %}   

{% load static wagtailuserbar %}
{% load static wagtailuserbar menus_tags %}

{% get_menu "main" as navigation %}

<div _="on scroll from the window
    
   
        
if window's scrollY > 600 and window's innerWidth > 600
add .-translate-x-12 to #header-button
else if window's scrollY < 600
remove .-translate-x-12 and add .translate-x-12
" id="header-fade" class="navbar bg-white sticky top-0 z-10 w-screen">
  <div class="navbar-start">
    <div class="dropdown">
      <div class="flex dark:bg-black">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <button _="on click toggle between .hidden and .flex on #nav">    
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
        </button> 
      </label>
      {% breadcrumbs %}
      </div>
      <nav id="nav" class="hidden">
      <ul tabindex="0" id="navMenu" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
     
        <li><a href="/" hx-boost="true">Homepage</a></li>
        {% for item in navigation.menu_items.all %}
        <li><a href='{{ item.link_page.url }}' hx-boost="true">{{ item.link_title }}</a></li>
        {% endfor %}
      
      </ul>
      </nav>
    </div>
    
  </div>
  
  <div class="navbar-center">
      
      {% headers %}  
      
  </div>




  
  <div class="navbar-end flex-wrap
  ">
  <button _="on click go to the top of the body smoothly end 
   "id="header-button" type="button"  class="invisible opacity-0 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Back to top</button>
    <button class="btn btn-ghost btn-circle">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
    </button>
    
  </div>
 
</div>

