{% load wagtailcore_tags snippet_tags %}   

{% load static wagtailuserbar %}
{% load static wagtailuserbar menus_tags %}

{% get_menu "main" as navigation %}
{% load wagtailroutablepage_tags %}
{% load wagtailcore_tags %}
{% load wagtailcore_tags snippet_tags %}

<div _="on scroll from the window
    
   
        
if window's scrollY > 600 and window's innerWidth > 600
add .-translate-x-12 to #header-button then add .-translate-y-6 .duration-300 to #header-fade
else if window's scrollY < 400 remove .-translate-y-6 then settle

" id="header-fade" class="navbar shadow-md  bg-white sticky top-0 z-10 w-screen">
  <div class="navbar-start">
    <div class="dropdown">
      <div class="flex dark:bg-black">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <button _="on click toggle between .hidden and .flex on #nav">    
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
        </button> 
      </label>
      {% breadcrumbs %}
      </div>
      
      <nav id="nav" class="hidden" >
      <ul tabindex="0" id="navMenu" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
     
        
        {% for item in navigation.menu_items.all %}
        <li><a href='{{ item.link_page.url }}' hx-boost="true">{{ item.link_title }}</a></li>
        {% endfor %}

     
        
      
      </ul>
      </nav>
    </div>
  
  </div>
  
  
  
  <div class="navbar-center">
      
      {% headers %}  
      
  </div>


  
  <div  class="navbar-end flex flex-col sm:flex-row sm:flex-wrap gap-2
  " >
  
    <button _="on click go to the top of the body smoothly end"
    id="header-button" type="button"  class="hidden sm:flex invisible opacity-0 text-white bg-green-400
      hover:bg-yellow-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2
      dark:bg-blue-600 dark:hover:bg-blue-700 ocus:outline-none dark:focus:ring-blue-800 mt-5">Back to top</button>
      {% is_homepage as homepage_test %}
      
      {% if homepage_test  %}
      
      <a id="contact-link" hx-boost="true"><button _="" id="contact-button" hx-post="/contact-me/" 
     
      hx-target="#right-section"
      class="text-green-700 hover:text-white border border-green-200 hover:bg-green-800 focus:ring-4 focus:outline-none
       focus:ring-green-300 font-medium rounded-lg sm:rounded-lg text-xs sm:text-sm sm:px-5 px-2 py-2.5 text-center me-2 mb-2
       ">Contact</button></a> 
      
      <div class="flex sm:pr-5">
        <button class="sm:inline-flex btn btn-ghost btn-circle" 
        hx-get="{% routablepageurl page.get_site.root_page.specific 'blog_search' %}"
        hx-vals='{"search-button": "search-button"}'
        hx-target="#right-section">
          <svg xmlns="http://www.w3.org/2000/svg" class=" h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
        </button>
        {% endif %}
      </div>
    
    
  </div>
 
</div>

